services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    volumes:
      - mariadb:/var/lib/mysql
    env_file: .env
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    env_file: .env
    volumes:
      - wp_data:/var/www/html
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - inception
    env_file: .env
    volumes:
      - wp_data:/var/www/html
    restart: always

networks:
  inception:
    driver: bridge

volumes:
  wp_data:
    driver_opts:
      type: none
      o: bind
      device: '/home/aait-bou/data'
  mariadb:
    driver_opts:
      type: none
      o: bind
      device: '/home/aait-bou/mysql'